div.Page
    header(role="banner")
        ff-header
    main(role="main")
        section.Content
            h2 Home Page
            ui-view
        nav(role="navigation")
            ff-navigation
    footer(role="contentinfo")
        ff-footer
