.Header
    padding 0 2em
    display flex
    justify-content space-between
    align-items baseline
    color white
    background-color black
    font-family 'Quattrocento', serif

    @media ( max-width $screen-sm-max )
        flex-direction column

    h1
        margin 0
        letter-spacing 0.5

        a
            color white
            text-decoration none

    h2
        margin 0
        letter-spacing 0.2

        @media ( max-width: $screen-sm-max )
            display none
