.Login
    height 10em
    width 25%
    margin 2% auto
    position relative
    background #efefef
    padding 1em
    box-shadow 1px 1px 2px 2px grey, 0px 0px 1px 1px grey

    label
        display block
        width 100%

        span
            display block

            & + input
                width 100%
                padding 0.5em

        button[type="submit"]
            position absolute
            bottom 2em
            right 2em
            width 10em
            height 3em
