article
    header
        h2 {{front.title}}
        p._publish-date
            time {{ front.date | date:medium }}
        p._author {{ front.author }}
        p Categories:
            span(ng-repeat="cat in front.categories") &nbsp;{{ cat }}

    div(ng-bind-html="content")

    footer
        a._previous(
            ui-sref="blog.post({blogPath: site.link(previous.path)})"
            ng-show="previous"
        ) Previous
        a._next(
            ui-sref="blog.post({blogPath: site.link(next.path)})"
            ng-show="next"
        ) Next
