.Page
    > main[role="main"]
        display flex
        flex-direction column

        // > section.Content

        > nav[role="navigation"]
            order -1

        // > aside[role="complementary"]

    @media(min-width 64em)
        > main[role="main"]
            flex-direction row
            justify-content space-around
            flex 1

            > section.Content
                max-width 32em
                flex 1

            > nav[role="navigation"], > aside[role="complementary"]
                flex 0 0 16em
