// .Navigation
//     background-color lightgoldenrodyellow
//     padding 0.25em 1em
//     margin 0.5em 0
//     border-radius 8px
//
//     > ul
//         margin-left 0.5em
//
//     ul
//         list-style circle
//         padding-left .5em
//
//         li
//             padding-bottom .25em
