footer.PageNav
    a._previous(
        href="{{ srefize(previous) }}"
        ng-show="previous"
    )
        span._twist Previous
    a._next(
        href="{{ srefize(next) }}"
        ng-show="next"
    )
        span._twist Next
