body
    padding 20px 0

.header,
.marketing,
.footer
    padding 0 15px

.header
    border-bottom 1px solid #e5e5e5
    margin-bottom 30px
    h3
        padding-bottom 19px
        margin-top 0
        margin-bottom 0
        line-height 40px

.footer
    padding-top 19px
    color #777
    border-top 1px solid #e5e5e5

.table th
    cursor pointer

.expand
    width: 100%
