body
    margin 0
    padding 0

    > main[role="main"]
        display flex
        flex-direction column

        // > section.Content

        > nav[role="navigation"]
            order -1

        // > aside[role="complementary"]

    @media(min-width 46em)
        > main[role="main"]
            flex-direction row
            flex 1

            > section.Content
                flex 1

            > nav[role="navigation"], > aside[role="complementary"]
                flex 0 0 12em
