.Navigation
    ul
        li
            a(ui-sref="blog.list") All Posts
            ul
                li(ng-repeat="(path, content) in site.files")
                    a(href="{{path}}") {{path}}
