.Navigation
    ul
        li(ng-show="site.posts.length > 0")
            a(ui-sref="blog.list") All Posts
        li(ng-repeat="path in site.index.chapters")
            a(
                ui-sref="page({path:site.link(path)})"
            ) {{ site.files[path].front.title }}
