.Header
    padding 0 2em
    color white
    background-color black
    font-family 'Quattrocento', serif

    h1
        display inline-block
        letter-spacing 0.5

        a
            color white
            text-decoration none

    h2
        display inline-block
        letter-spacing 0.2

@media(min-width: 32em)
    .Header
        h2
            float right
