.Header
    color white
    background-color black

    h1
        display inline-block

        a
            color white
            text-decoration none

    h2
        display inline-block
        float right
