.Sidebar
    h3 $state.$current
    dl
        dt name
        dd
            pre {{$state.$current.name}}
        dt url
        dd
            pre {{$state.$current.url.source}}
    h3 $stateParams
        pre {{ $stateParams }}
