doctype html5
html(lang='en', ng-app='flipflops')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title Flip Flops

    link(rel='stylesheet', href='/vendors.css')

    link(rel='stylesheet', href='/all.css')
    link(rel='stylesheet', href='/screen.css', media="screen")
    link(rel='stylesheet', href='/print.css', media="print")

    script(src="/vendors.js")


  body
    header(role="banner")
    nav(role="navigation")
    main(role="main", content)
    aside(role="complementary", sidebar)
    footer(role="contentinfo")

    script(src="/templates.js")
    script(src="/app.js")
