section.Content
    // font-size 16pt
    text-align justify
    overflow hidden
    border-radius 15px

    ui-view
        display block
        position relative
        height 100%
        width 100%
        opacity 1
        background #FFFFFE

        article
            height 100%

            headerb
                p
                    &:before
                        font-style italic
                        color grey

                ._publish-date
                    color grey
                    float right
                    margin 0

                    &:before
                        content 'Posted: '
                        font-style italic

                ._author
                    &:before
                        content: 'By: ';

@media(min-width: 77em)
    section.Content
        max-width 45em !important

        article
            padding 2em
