section.Content
    // font-size 16pt
    text-align justify
    overflow hidden
    border-radius 15px

    ui-view
        display block
        position relative
        opacity 1
        background #FFFFFE

        article

            header
                p
                    &:before
                        font-style italic
                        color grey

                ._publish-date
                    color grey
                    float right
                    margin 0

                    &:before
                        content 'Posted: '
                        font-style italic

                ._author
                    &:before
                        content: 'By: ';
