section.Content
    // font-size 16pt
    text-align justify
    perspective 10000
    overflow hidden
    border-radius 15px

    ui-view
        display block
        height 100%
        width 100%
        opacity 1
        background #FFFFFE
        transform-origin left top
        transform-style preserve-3d

        &.ng-leave
            position absolute
            top 0
            transition 0.6s
            height 100%

        &.ng-leave-active
            transform rotateX(30deg) rotateY(-115deg)

        article
            height 100%
